<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
       http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/classes/spring-*.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>lemon.web.global.MMTListener</listener-class>
	</listener>
	<!--  获取Spring Security session的生命周期-->  
    <listener>  
        <listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>  
    </listener>
	<!-- 微信网关配置 -->
	<filter>
		<filter-name>weixinGW</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>targetFilterLifecycle</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>weixinGW</filter-name>
		<url-pattern>/weichat/*</url-pattern>
	</filter-mapping>
	<!-- 易信网关配置 -->
	<filter>
		<filter-name>yixinGW</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>targetFilterLifecycle</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>yixinGW</filter-name>
		<url-pattern>/echat/*</url-pattern>
	</filter-mapping>
	<!-- Spring Security 配置 -->
	<filter>  
        <filter-name>springSecurityFilterChain</filter-name>  
    	<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>  
    </filter>
    <!-- Spring Security 默认过滤 -->
    <filter-mapping>  
        <filter-name>springSecurityFilterChain</filter-name>  
        <url-pattern>/webservices/*</url-pattern>  
    </filter-mapping>
    <!-- Spring Security 用户验证中心 -->
     <filter-mapping>  
        <filter-name>springSecurityFilterChain</filter-name>  
        <url-pattern>/mmt_auth_center</url-pattern>  
    </filter-mapping>
	<!-- Spring MVC 配置 -->
	<servlet>
		<servlet-name>MMTDispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/classes/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>MMTDispatcher</servlet-name>
		<url-pattern>/webservices/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MMTDispatcher</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>jump.htm</welcome-file>
	</welcome-file-list>
</web-app>
