<link rel="stylesheet" href="#{getContextPath}bootstrap/modal/css/bootstrap-modal-bs3patch.css">
<link rel="stylesheet" href="#{getContextPath}bootstrap/modal/css/bootstrap-modal.css">
<div class="col-md-9" role="main">
	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading">
			<script src="#{getContextPath}bootstrap/modal/js/bootstrap-modalmanager.js"></script>
			<script src="#{getContextPath}bootstrap/modal/js/bootstrap-modal.js"></script>
			<div class="ajax" style="position: relative; overflow: hidden">
            	<div class="text-left">
		            <button id="menu-add" data-toggle="modal" class="menu btn btn-success btn-md" >
						<span class="glyphicon glyphicon-plus-sign"></span> 添 加
					</button>
					<button id="menu-update" type="button" disabled="true" class="menu btn btn-info btn-md" >
						<span class="glyphicon glyphicon-edit"></span> 编 辑
					</button>
					<button id="menu-delete" type="button" disabled="true" onclick="deleteMenu();" class="btn btn-danger btn-md" >
						<span class="glyphicon glyphicon-trash"></span> 删 除
					</button>
            	</div>
			</div>
		</div>
				
		<!-- Table -->
		<table class="table">
			<thead>
				<tr>
					<th width="5%"><input type="checkbox" title="全 选" onclick="checkList(this,'menu_id');btnListener('menu_id',$('#menu-update'),$('#menu-delete'));"/></th>
			        <th width="35%">菜单名称</th>
					<th width="20%">菜单链接</th>
			     	<th width="30%">菜单样式</th>
			     	<th width="10%">排序号</th>
				</tr>
			</thead>
			<tbody>
				#foreach($menu in $page.menuList)
				<tr>
					<td><input type="checkbox" value="$!menu.menu_id" onclick="btnListener('menu_id',$('#menu-update'),$('#menu-delete'));" name="menu_id"/></td>
			  		<td>
			  			#if($menu.menulevcod == '3')
			  				&nbsp;&nbsp;&nbsp;&nbsp;
			  			#end
			  			<span class="$!menu.menuico"></span> $!menu.menu_name
			  		</td>
			  		<td>$menu.menuurl</td>
			   		<td>$menu.menuico</td>
			   		<td>$menu.sort</td>
			 	</tr>
				#end
			</tbody>
		</table>
	</div>
</div>
<div id="menu-ajax-modal" class="modal fade" tabindex="-1" style="display: none;"></div>
<script src="#{getContextPath}js/mmt.js"></script>
<script src="#{getContextPath}js/manage/system/menu.js"></script>
<script type="text/javascript">
var modal = $('#menu-ajax-modal');
var url_showPage = "#{getContextPath}webservices/system/menu/add-edit-page";
var url_save = "#{getContextPath}webservices/system/menu/save";
var url_delete = "#{getContextPath}webservices/system/menu/delete";
loadPage(modal, url_showPage, url_save);
</script>