<div class="col-md-9" role="main">
	<div class="panel panel-default">
		### 顶部按钮栏
		<div class="panel-heading">
			<button type="button" class="btn btn-success btn-md" >
				<span class="glyphicon glyphicon-plus-sign"></span> 添 加
			</button>
			<button type="button" disabled class="btn btn-info btn-md" >
				<span class="glyphicon glyphicon-edit"></span> 编 辑
			</button>
			<button type="button" disabled class="btn btn-danger btn-md" >
				<span class="glyphicon glyphicon-trash"></span> 删 除
			</button>
		</div>
			
		### 数据表
		<table class="table">
			<thead>
				<tr>
					<th><input type="checkbox" title="全选" onclick="checkThis(this);"/></th>
					<th>用户名</th>
		            <th>姓名</th>
		            <th>身份证号</th>
		            <th>手机</th>
		            <th>状态</th>
				</tr>
			</thead>
			<tbody>
			#foreach($user in $page.userList)
				<tr>
		    		<td><input type="checkbox" value="$!user.user_id" name="user_id"/></td>
		       		<td>$!user.username</td>
		  			<td>$!user.xm</td>
		     		<td>$!user.idcard</td>
		  			<td>$!user.mphone</td>
		         	<td>
		        	#if($user.islock == 'UNAVAILABLE')
		       			<span class="btn-success">正常</span>
		       		#else
		       			<span class="btn-danger">锁定</span>
		      		#end
		       		</td>
		   		</tr>
			#end
			</tbody>
		</table>
		### 分页栏
		#createPagination($page.currentPage,$page.PAGESIZE,$page.userCnt)
	</div>
</div>
<script type="text/javascript">
function checkThis(controller){
	var ids = document.getElementsByName('user_id');
	for(var i=0 ; i < ids.length ; i++){
		if(controller.checked)
			ids[i].checked = true;
		else
			ids[i].checked = false;
	}
}
</script>