<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lemon.system.mapper.MenuMapper">
	<parameterMap type="map" id="menu_code">
		<parameter property="newmenucode" jdbcType="CHAR" javaType="String" />
	</parameterMap>
	<select id="listAllMenu" parameterType="int"
		resultType="lemon.system.bean.Menu">
		select a.menu_code,a.menu_name,a.menulevcod,a.supmenucode,a.menuurl,a.menuico,a.sort
			from system_menu a order by a.menulevcod,a.sort
	</select>

	<select id="getMenuTree" resultType="lemon.system.bean.Menu"
		parameterType="int">
		select b.menu_code,b.menu_name,b.menulevcod,b.supmenucode,b.menuurl,b.menuico
			from system_role_menu a,system_menu b 
		WHERE a.menu_id=b.menu_code 
			and a.role_id=#{role_id} 
		order by b.menulevcod,b.sort
	</select>
	
	<insert id="add" parameterType="lemon.system.bean.Menu">
		insert into
		system_menu(menu_code,menu_name,menulevcod,supmenucode,menuurl,menuico,sort)
			select #{menu_code},#{menu_name},#{menulevcod},#{supmenucode},#{menuurl},#{menuico},#{sort}
	</insert>
	<update id="edit" parameterType="lemon.system.bean.Menu">
		update system_menu a
			set menu_name=#{menu_name},
			a.menulevcod=#{menulevcod},
			a.supmenucode=#{supmenucode},
			a.menuurl=#{menuurl},
			a.menuico=#{menuico},
			a.sort=#{sort}
		where a.menu_code=#{menu_code}
	</update>
	<delete id="delMenu" parameterType="string">
		delete from system_menu where menu_code=#{menu_code}
	</delete>
	<select id="getParentMenus" resultType="lemon.system.bean.Menu">
		select a.menu_code,a.menu_name,a.menulevcod,a.supmenucode,a.menuurl,a.menuico,a.sort
			from system_menu a
		where a.menulevcod in ('1','2')
		order by a.menulevcod,a.sort
	</select>
	<select id="createMenuCode" statementType="CALLABLE" parameterMap="menu_code">
    	{call system_createMenuCode(#{newmenucode, jdbcType=CHAR, mode=OUT})}
	</select>
	<select id="loadMenu" resultType="lemon.system.bean.Menu" parameterType="string">
		select a.menu_code,a.menu_name,a.menulevcod,a.supmenucode,a.menuurl,a.menuico,a.sort
			from system_menu a
		where a.menu_code=#{menu_code}
	</select>
	<update id="reloadMenuFlag" parameterType="string">
		update system_role a
			set a.reload='1'
		where exists(select 1 from system_role_menu b where a.role_id=b.role_id and b.menu_id=#{menu_code})
	</update>
</mapper>