<div class="col-md-9" role="main">
	<div class="panel panel-info">
		### 顶部按钮栏
		<div class="panel-heading">
			<button type="button" class="level1-save btn btn-success btn-md" >
				<span class="glyphicon glyphicon-floppy-save"></span> 保 存
			</button>
		</div>
		#set($list=$page.msgList)	
		### 数据表单
		<div class="panel-body">
			<form class="form-horizontal has-success" role="form">
				<table class="table">
					<thead>
						<tr>
							<th>关键字</th>
							<th>内容</th>
						</tr>
					</thread>
					<tbody>
						#foreach($msg in $list)
							<tr>
								<input type="hidden" name="record-id" id="id$velocityCount" value="$!msg.id" />
								<td><input type="text" class="form-control" id="key$velocityCount" value="$!msg.key" placeholder="输入键$velocityCount"></td>
								<td><input type="text" class="form-control" id="value$!velocityCount" value="$!msg.value" placeholder="输入值$velocityCount"></td>
							</tr>
						#end
					</tbody>
				</table>
			</form>
	  	</div>
	  	### 底部按钮
	  	<div class="panel-footer">
	  		<button type="button" class="level1-save btn btn-success btn-md" >
				<span class="glyphicon glyphicon-floppy-save"></span> 保 存
			</button>
	  	</div>
	</div>
</div>
<script src="#{getContextPath}js/mmt.js"></script>
<script src="#{getContextPath}js/manage/message/level1.js"></script>
<script type="text/javascript">
var url_save = "#{getContextPath}webservices/message/level1/save";
</script>