<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd  
        http://www.springframework.org/schema/security 
        http://www.springframework.org/schema/security/spring-security-3.1.xsd">
        
	<global-method-security jsr250-annotations="enabled" secured-annotations="enabled" />
	<http pattern="/webservices/login*" security="none" />
	<http pattern="/webservices/logout*" security="none" />
	<http use-expressions="true" entry-point-ref="authenticationProcessingFilterEntryPoint" access-denied-page="/webservices/forbidden">
		<intercept-url pattern="/**" access="isAuthenticated()" />
		<logout logout-url="/webservices/logout" delete-cookies="JSESSIONID" />
		<!-- 实现免登陆验证 -->
		<remember-me />
		<session-management invalid-session-url="/">
			<concurrency-control max-sessions="10" error-if-maximum-exceeded="true" />
		</session-management>
		<custom-filter ref="mmtAuthenticationFilter" position="FORM_LOGIN_FILTER" />
		<custom-filter ref="mmtSecurityFilter" before="FILTER_SECURITY_INTERCEPTOR" />
	</http>
    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="mmtUserDetailsService" />
    </authentication-manager>
    <!-- 登录验证器 -->  
    <beans:bean id="mmtAuthenticationFilter" class="lemon.web.security.MMTAuthenticationFilter">
		<!-- 处理登录的action -->
		<beans:property name="filterProcessesUrl" value="/mmt_auth_center" />
		<!-- 验证成功后的处理 -->
		<beans:property name="authenticationSuccessHandler"
			ref="loginLogAuthenticationSuccessHandler" />
		<!-- 验证失败后的处理 -->
		<beans:property name="authenticationFailureHandler"
			ref="simpleUrlAuthenticationFailureHandler" />
		<beans:property name="authenticationManager" ref="authenticationManager" />
	</beans:bean>
	<beans:bean id="loginLogAuthenticationSuccessHandler"  
        class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
        <beans:property name="alwaysUseDefaultTargetUrl" value="true" />
        <beans:property name="defaultTargetUrl" value="/index" />
    </beans:bean>  
    <beans:bean id="simpleUrlAuthenticationFailureHandler"  
        class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">  
        <!-- 可以配置相应的跳转方式。属性forwardToDestination为true采用forward false为sendRedirect -->  
        <beans:property name="defaultFailureUrl" value="/webservices/login" />
    </beans:bean>
    <!-- 权限过滤器 -->  
    <beans:bean id="mmtSecurityFilter" class="lemon.web.security.MMTSecurityFilter">  
        <!-- 用户拥有的权限 -->  
        <beans:property name="authenticationManager" ref="authenticationManager" />  
        <!-- 用户是否拥有所请求资源的权限 -->  
        <beans:property name="accessDecisionManager" ref="mmtAccessDecisionManager" />  
    </beans:bean>
    <!-- 未登录的切入点 -->
    <beans:bean id="authenticationProcessingFilterEntryPoint"
		class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
		<beans:property name="loginFormUrl" value="/webservices/login" />
</beans:bean> 
</beans:beans>
