<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd  
        http://www.springframework.org/schema/security 
        http://www.springframework.org/schema/security/spring-security-3.1.xsd">
        
	<global-method-security jsr250-annotations="enabled" secured-annotations="enabled" />
	<http pattern="/webservices/login" security="none" />
	<http auto-config='true'>
		<form-login login-page="/webservices/login" username-parameter="user_name" password-parameter="password"/>
		<intercept-url pattern="/webservices/*" access="ROLE_USER" />
    </http>
    <authentication-manager>
      <authentication-provider>
        <user-service>
          <user name="zlm" password="pass" authorities="ROLE_USER" />
        </user-service>
      </authentication-provider>
    </authentication-manager>
</beans:beans>
