<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd  
        http://www.springframework.org/schema/security 
        http://www.springframework.org/schema/security/spring-security-3.1.xsd">
        
	<global-method-security jsr250-annotations="enabled" secured-annotations="enabled" />
	<http pattern="/webservices/login*" security="none" />
	<http pattern="/webservices/logout*" security="none" />
	<http pattern="/webservices/forbidden" security="none" />
	<http use-expressions="true" auto-config="true">
		<form-login 
			always-use-default-target="true"
			default-target-url="/index"
			login-page="/webservices/login"
			username-parameter="user_name" 
			password-parameter="password"
			/>
		<logout logout-url="/webservices/logout" delete-cookies="JSESSIONID"/>
		<!-- 实现免登陆验证 -->  
        <remember-me />  
        <session-management invalid-session-url="/">  
            <concurrency-control max-sessions="10" error-if-maximum-exceeded="true" />  
        </session-management>  
        <custom-filter ref="mmtSecurityFilter" before="FILTER_SECURITY_INTERCEPTOR"/>
    </http>
    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="mmtUserDetailsService">
            <!-- 用户密码加密 just like 899312{gaobing} to md5 
            <password-encoder ref="MyPasswordEncode">
                <salt-source user-property="username" />
            </password-encoder>-->
        </authentication-provider>
    </authentication-manager>
    <!-- 配置过滤器 -->  
    <beans:bean id="mmtSecurityFilter" class="lemon.web.security.MMTSecurityFilter">  
        <!-- 用户拥有的权限 -->  
        <beans:property name="authenticationManager" ref="authenticationManager" />  
        <!-- 用户是否拥有所请求资源的权限 -->  
        <beans:property name="accessDecisionManager" ref="mmtAccessDecisionManager" />  
    </beans:bean>
</beans:beans>
