<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lemon.system.mapper.DeptMapper">
	<parameterMap type="map" id="deptcode">
		<parameter property="newmenucode" jdbcType="CHAR" javaType="String" />
	</parameterMap>
	<select id="getDeptList" parameterType="lemon.system.bean.Dept" resultType="lemon.system.bean.Dept">
		select a.dept_code,a.dept_name,a.deptlevcod,a.supdeptcod,a.sort
			from system_dept a
		<if test="dept_code!=null and dept_code!='' ">
			where a.supdeptcod=#{dept_code} or a.dept_code=#{dept_code}
		</if>
		order by a.deptlevcod,a.sort
	</select>
	<insert id="add" parameterType="lemon.system.bean.Dept">
		insert into system_dept(dept_code,dept_name,deptlevcod,supdeptcod,sort)
			select #{dept_code},#{dept_name},#{deptlevcod},#{supdeptcod},#{sort}
	</insert>
	 <update id="edit" parameterType="lemon.system.bean.Dept">
		update system_dept a
			set a.dept_name=#{dept_name},
				a.deptlevcod=#{deptlevcod},
				a.supdeptcod=#{supdeptcod},
				a.sort=#{sort}
			where a.dept_code=#{dept_code}
	</update>
	<delete id="delete" parameterType="string">
		delete from system_dept
		where dept_code=#{dept_code}
	</delete>
	<select id="makeDeptCode" statementType="CALLABLE" parameterMap="deptcode">
    	{call system_createDeptCode(#{newmenucode, jdbcType=CHAR, mode=OUT})}
	</select>
	<select id="getDept" parameterType="string" resultType="lemon.system.bean.Dept">
		select a.dept_code,a.dept_name,a.deptlevcod,a.supdeptcod,a.sort 
			from system_dept a
		where a.dept_code=#{dept_code}
	</select>
	<select id="getParentDepts" resultType="lemon.system.bean.Dept">
		select a.dept_code,a.dept_name,a.deptlevcod,a.supdeptcod,a.sort 
			from system_dept a
		where a.deptlevcod != '3'
	</select>
</mapper>