<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lemon.web.system.mapper.MenuMapper">
	<insert id="addMenu" parameterType="lemon.web.system.bean.Menu" useGeneratedKeys="true" keyProperty="menu_id">
		INSERT INTO system_menu(menu_name,menulevcod,supmenucode,menuurl,menuico,sort) 
			SELECT #{menu_name},#{menulevcod},#{supmenucode},#{menuurl},#{menuico},#{sort}
	</insert>
	<delete id="deleteMenu" parameterType="int">
		DELETE FROM system_menu WHERE menu_id=#{menu_id}
	</delete>
	<update id="editMenu" parameterType="lemon.web.system.bean.Menu">
		UPDATE system_menu A
			<set>
				<if test="menu_name != null and menu_name != ''">
					A.menu_name=#{menu_name},
				</if>
				<if test="menulevcod != null and menulevcod != ''">
					A.menulevcod=#{menulevcod},
				</if>
				<if test="supmenucode > 0">
					A.supmenucode=#{supmenucode},
				</if>
				<if test="menuurl != null and menuurl != ''">
					A.menuurl=#{menuurl},
				</if>
				<if test="menuico != null and menuico != ''">
					A.menuico=#{menuico},
				</if>
				<if test="sort != null and sort != ''">
					A.sort=#{sort}
				</if>
			</set>
		WHERE A.menu_id=#{menu_id}
	</update>
	<select id="getMenu" parameterType="int" resultType="lemon.web.system.bean.Menu">
		SELECT A.menu_id,A.menu_name,A.menulevcod,A.supmenucode,A.menuurl,A.menuico,A.sort
			FROM system_menu A
		WHERE A.menu_id=#{menu_id}
	</select>
	<select id="getLeafMenuByUrl" resultType="lemon.web.system.bean.Menu">
		SELECT A.menu_id,A.menu_name,A.menulevcod,A.supmenucode,A.menuurl,A.menuico,A.sort
			FROM system_menu A
		WHERE A.menuurl=#{url}
       		AND EXISTS(SELECT 1 FROM 
       					system_menu B 
       				WHERE B.menuurl=#{superUrl} 
       					AND A.supmenucode=B.menu_id)
	</select>
	<select id="getMenuList" resultType="lemon.web.system.bean.Menu">
		SELECT A.menu_id,A.menu_name,A.menulevcod,A.supmenucode,A.menuurl,A.menuico,A.sort
			FROM system_menu A 
		ORDER BY A.menulevcod,A.sort
	</select>
	<select id="getMenuListByRole" resultType="lemon.web.system.bean.Menu">
		SELECT B.menu_id,B.menu_name,B.menulevcod,B.supmenucode,B.menuurl,B.menuico
			FROM system_role_menu A,system_menu B
		WHERE A.menu_id=B.menu_id
			AND A.role_id=#{role_id}
			AND B.menulevcod=#{level}
		ORDER BY B.menulevcod,B.sort
	</select>
	<select id="getMenuListByLevel" parameterType="string" resultType="lemon.web.system.bean.Menu">
		SELECT A.menu_id,A.menu_name,A.menulevcod,A.supmenucode,A.menuurl,A.menuico,A.sort
			FROM system_menu A
		WHERE A.menulevcod=#{level}
		ORDER BY A.menulevcod,A.sort
	</select>
	<select id="getLeafMenuListByRole" resultType="lemon.web.system.bean.Menu">
		SELECT B.menu_id,B.menu_name,B.menulevcod,B.supmenucode,B.menuurl,B.menuico
			FROM system_role_menu A,system_menu B
		WHERE A.menu_id=B.menu_id
			AND A.role_id=#{role_id}
			AND B.supmenucode=#{supmenucode}
		ORDER BY B.menulevcod,B.sort
	</select>
</mapper>