<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lemon.system.mapper.RoleMapper">
	<parameterMap type="map" id="authorityMap">
		<parameter property="user_id" jdbcType="NUMERIC" javaType="int" />
		<parameter property="list" jdbcType="NULL" javaType="ArrayList" />
	</parameterMap>
	<select id="getRoles" parameterType="map"
		resultType="lemon.system.bean.Role">
		select a.role_id,a.role_name,a.zt,a.role_desc,a.sort
			from system_role a where zt='1' order by a.sort
		<if test="start!=null and start!=0">
			limit #{start},#{limit}
		</if>
	</select>
	<select id="getRole" parameterType="int"
		resultType="lemon.system.bean.Role">
		select a.role_id,a.role_name,a.zt,a.role_desc,a.sort
			from system_role a where a.role_id=#{role_id}
	</select>
	<select id="checkRoleName" parameterType="string"
		resultType="int">
		select count(1) cnt
			from system_role a where a.role_name=#{role_name} and a.zt='1'
	</select>
	<select id="getRsCnt" resultType="int"
		parameterType="int">
		select count(1) cnt
			from system_role a where a.zt='1'
	</select>
	
	<insert id="addRole" parameterType="lemon.system.bean.Role" useGeneratedKeys="true" keyProperty="role_id">
		insert into system_role(role_name,role_desc,sort)
			select #{role_name},#{role_desc},#{sort}
	</insert>
	<update id="update" parameterType="lemon.system.bean.Role">
		update system_role
			set role_name=#{role_name},
			role_desc=#{role_desc},
			sort=#{sort}
		where role_id=#{role_id}
	</update>
	<update id="delete" parameterType="int">
		update system_role
			set zt='0'
		where role_id in 
		<foreach collection="array" item="roles" index="index" open="(" separator="," close=")">
			#{roles}
		</foreach>
	</update>
	<delete id="deleteRoleAuthority" parameterType="int">
		delete from system_role_menu where role_id=#{role_id}
	</delete>
	<insert id="setDefaultRoleAuthority" parameterType="int">
		insert into system_role_menu(role_id,menu_id) 
			select #{role_id},menu_code
		from system_role_menu_default a
	</insert>
	<insert id="setRoleAuthority" parameterMap="authorityMap">
		insert into system_role_menu(role_id,menu_id) 
			select #{role_id},menu_code
		from system_menu a where a.menu_code in 
		<foreach collection="list" item="list" index="index" open="(" separator="," close=")">
			#{list}
		</foreach>
	</insert>
	<select id="getAuthority" parameterType="int" resultType="lemon.system.bean.Menu">
		select a.menu_code,a.menu_name,a.menulevcod,a.supmenucode,a.menuico,b.menu_id  authority
        	from system_menu a        
        		left join system_role_menu b on a.menu_code=b.menu_id and b.role_id=#{role_id}
			where a.menu_code != '0000000000'
		order by a.menulevcod,a.sort
	</select>
	<update id="updateReload" parameterType="int">
		update system_role a set a.reload='0' where a.role_id=#{role_id}
	</update>
</mapper>