<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lemon.system.mapper.UserConfigMapper">
	<select id="getItem" parameterType="lemon.system.bean.UserConfig" resultType="lemon.system.bean.UserConfig">
		select a.user_id, a.`key`, a.value, a.create_time, a.lastmodify_time
			from system_user_config a
		where a.user_id=#{user_id}
			and a.key=#{key}
	</select>
	<select id="getItems" parameterType="lemon.system.bean.UserConfig" resultType="lemon.system.bean.UserConfig">
		select a.user_id, a.`key`, a.value, a.create_time, a.lastmodify_time
			from system_user_config a
		where a.user_id=#{user_id}
	</select>
	<insert id="saveItem" parameterType="lemon.system.bean.UserConfig" >
		insert into system_user_config(user_id,`key`,value,create_time,lastmodify_time)
			select #{user_id},#{key},#{value},now(),now()
	</insert>
	<delete id="deleteItem" parameterType="lemon.system.bean.UserConfig">
		delete system_user_config system_user_config a 
		where a.user_id=#{user_id}
			and a.key=#{key}
	</delete>
</mapper>