<!DOCTYPE html>
<html lang="cn">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="MMT Smart Robot">
    <meta name="author" content="green120@126.com">
    <link rel="shortcut icon" href="#{getContextPath}images/favicon.png">
    <title>出错啦</title>

    <!-- Bootstrap core CSS -->
	<!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"> -->
	<link href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/spacelab/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <style>
	body {
	  padding-top: 100px;
	  padding-bottom: 100px;
	  background-color: #eee;
	}
	</style>
  </head>

  <body>
    <div class="container">
		<div class="alert alert-danger fade in">
	        <h4>$!msg</h4>
	        <a class="alert-link" href="#{getContextPath}">MMT Smart Robot 首页</a>
		</div>
	<BR><BR><BR><BR>
	#include('footer.vm')
    </div> <!-- /container -->
  </body>
</html>