 <div id="footer">
 	<div class="container" style="text-align:center;">
        <p class="text-muted credit">Powered By Lemon &copy; 2013 <a target="_blank" href="https://github.com/cjm0000000/mmt">MMTChat</a></p>
	</div>
</div>