<link rel="stylesheet" href="#{getContextPath}bootstrap/plugins/select/css/bootstrap-select.min.css">
<div class="col-md-9" role="main">
	<div class="panel panel-info">
		### 顶部按钮栏
		<div class="panel-heading">
			<form class="form-inline" role="form" method="get" action="../list/1">
				<div class="form-group">
				    <label  for="service_type">消息类型： </label>
				    <select class="selectpicker" data-style="btn-info" id="service_type" name="service_type" data-width="100">
				    	<option data-icon="glyphicon glyphicon-star-empty" value="">全部</option>
						#foreach($serviceType in $serviceTypes)
							<option data-icon="glyphicon glyphicon-star" value="$!serviceType.key">$!serviceType.value</option>
						#end
					</select>&nbsp;&nbsp;
				</div>
		    	<div class="form-group">
				    <label class="sr-only" for="msgType">信息类型</label>
				    <select class="selectpicker" data-style="btn-info" id="msgType" name="msgType" data-width="100">
				    	<option value="">全部</option>
						#foreach($msgType in $msgTypes)
							<option value="$!msgType.key">$!msgType.value</option>
						#end
					</select>&nbsp;&nbsp;&nbsp;&nbsp;
				</div>
		    	<input type="submit" class="btn btn-success btn-md" value="查 询" />
			</form>
		</div>
			
		### 数据表
		<table class="table table-hover">
			<thead>
				<tr>
					<th width="3%" style="text-align:right;"></th>
					<th width="67%">发起人</th>
		            <th width="13%" style="text-align:center;">时间</th>
		            <th width="15%" style="text-align:center;">操作</th>
				</tr>
			</thead>
			<tbody>
			#foreach($msg in $list)
				<tr>
					<td>
		  				#if($msg.service_type == 'WEIXIN')
		  					<img width="48" height="48" src="#{getContextPath}images/weixin-icon.png" />
		  				#elseif($msg.service_type == 'YIXIN')
		  					<img width="48" height="48" src="#{getContextPath}images/yixin-icon.jpg" />
		  				#else
		  					&nbsp;&nbsp;&nbsp;
		  				#end
		  			</td>
		  			<td>
		  				$!msg.fromUserName<br>
		  				<span style="color:#AAA;">
		  					$!msg.content
		  				</span>
		  			</td>
		  			<td style="text-align:center;">$!msg.createTime4display</td>
		  			<td style="text-align:center;">
						<button type="button" class="btn btn-primary btn-sm" >
							<span class="glyphicon glyphicon-share-alt"></span>
						</button>
		  			</td>
		   		</tr>
			#end
			</tbody>
		</table>
		### 分页栏
		#createPagination($pg.currentPage,$pg.pageSize,$pg.resCount,$!pg.filters)
	</div>
</div>
<script src="#{getContextPath}js/mmt.js"></script>
<script src="#{getContextPath}bootstrap/plugins/select/js/bootstrap-select.min.js"></script>
<script src="#{getContextPath}js/manage/interface/media.js"></script>
<script type="text/javascript">
var url_showPage 	= "#{getContextPath}webservices/interface/media/add-page";
var url_sync 		= "#{getContextPath}webservices/interface/media/sync";
var url_delete 		= "#{getContextPath}webservices/interface/media/delete";
$('select').selectpicker();
#if($service_type)
	$('#service_type').selectpicker('val', '$!service_type');
#end
#if($msgType)
	$('#msgType').selectpicker('val', '$!msgType');
#end
</script>