<link rel="stylesheet" href="#{getContextPath}bootstrap/plugins/switch/css/bootstrap-switch.css">
<link rel="stylesheet" href="#{getContextPath}bootstrap/plugins/select/css/bootstrap-select.min.css">
<div class="col-md-9" role="main">
	<div class="panel panel-info">
		<form method="POST" action="#{getContextPath}webservices/interface/media/upload" enctype="multipart/form-data" class="form-horizontal" role="form">
			### 顶部按钮栏
			<div class="panel-heading">
				<button type="button" class="media-upload btn btn-success btn-md" >
					<span class="glyphicon glyphicon-upload"></span> 上 传
				</button>
				<a href="#{getContextPath}webservices/interface/media/list/1" type="button" class="back-medial btn btn-info btn-md" >
					<span class="glyphicon glyphicon-circle-arrow-left"></span> 返回多媒体列表
				</a>
			</div>
			### 数据表单
			<div class="panel-body">
			  <div class="form-group">
			    <label for="media_type" class="col-sm-2 control-label">多媒体类型</label>
			    <div class="col-sm-10">
			    	<select class="selectpicker" id="media_type" name="media_type" data-width="60%">
					#foreach($item in $list)
						<option value="$!item.key">$!item.value</option>
					#end
					</select>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="media_file" class="col-sm-2 control-label">选择文件</label>
			    <div class="col-sm-10">
			    	<input type="file" id="media_file" name="media_file">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="upload-wx" class="col-sm-2 control-label">上传到微信</label>
			    <div class="col-sm-10">
					<div class="label-toggle-switch make-switch" data-on-label="是" data-off-label="否" data-on="success" />
						<input type="checkbox" id="upload-wx" name="upload-wx" value="1"/>
					</div>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="upload-yx" class="col-sm-2 control-label">上传到易信</label>
			    <div class="col-sm-10">
			      	<div class="label-toggleswitch make-switch" data-on-label="是" data-off-label="否" data-on="success" />
						<input disabled type="checkbox" id="upload-yx" name="upload-yx" value="1"/>
					</div>
			    </div>
			  </div>
	  		</div>
	  		### 底部按钮
		  	<div class="panel-footer">
		  		<button type="button" class="media-upload btn btn-success btn-md" >
					<span class="glyphicon glyphicon-upload"></span> 上 传
				</button>
				<a href="#{getContextPath}webservices/interface/media/list/1" type="button" class="back-medial btn btn-info btn-md" >
					<span class="glyphicon glyphicon-circle-arrow-left"></span> 返回多媒体列表
				</a>
		  	</div>
	  	</form>
	</div>
</div>
<script src="#{getContextPath}js/plugins/jquery.form.min.js"></script>
<script src="#{getContextPath}bootstrap/plugins/switch/js/bootstrap-switch.min.js"></script>
<script src="#{getContextPath}bootstrap/plugins/select/js/bootstrap-select.min.js"></script>
<script src="#{getContextPath}js/mmt.js"></script>
<script type="text/javascript">
$(".switch").bootstrapSwitch();
$('select').selectpicker();
var url_upload = "#{getContextPath}webservices/interface/media/upload";
// Ajax Form
$('.form-horizontal').ajaxForm({
	success : function(responseText){
		var result = eval("("+responseText+")");
		$(".panel-heading").prepend(result.msg);
		if(result.success)
			setTimeout(function(){
				document.location = $(".back-medial").attr('href');
			}, 500);
	}
});
$(".media-upload").on('click',function(){
	$(".media-upload").attr('disabled',true);
	$(".back-medial").attr('disabled',true);
	$(".form-horizontal").submit();
});
//监听Switch
$('.label-toggle-switch').on('switch-change');
</script>