### 左侧菜单栏模板
<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
	<div class="list-group">
		#foreach($menu in $page.left-nav)
			#if($CUSTOMIZATION_HOME == $menu.menuurl)
				<a href="../$menu.menuurl" class="list-group-item active"><span class="$menu.menuico"></span> $menu.menu_name</a>
			#else
				<a href="../$menu.menuurl" class="list-group-item"><span class="$menu.menuico"></span> $menu.menu_name</a>
			#end
		#end
	</div>
</div><!--/span-->